@charset "UTF-8";

@font-face {
    font-family: 'fontello';
    src: url("../font/fontello.eot?75646526");
    src: url("../font/fontello.eot?75646526#iefix") format('embedded-opentype'), url("../font/fontello.woff?75646526") format('woff'), url("../font/fontello.ttf?75646526") format('truetype'), url("../font/fontello.svg?75646526#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}

.mui-button span.icon {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    width: 22px;
    height: 22px;
    overflow: hidden;
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
}

.mui-button-undo span.icon:before { content: '\27f2'}/*undo*/
.mui-button-redo span.icon:before { content: '\27f3'}/*redo*/

.mui-button-lcursorbackward span.icon:before{ content : '\25c2'}
.mui-button-lcursorforward span.icon:before{ content : '\25b8'}
.mui-button-mcursor span.icon:before{ content : '\261d'}
.mui-button-rcursorbackward span.icon:before{ content : '\25c2'}
.mui-button-rcursorforward span.icon:before{ content : '\25b8'}

.mui-button-bold span.icon:before { content: '\e77a'} /*粗体*/
.mui-button-italic span.icon:before { content: '\e77b'}/*斜体*/
.mui-button-underline span.icon:before { content: '\f0cd'}/*下划线*/
.mui-button-removeformat span.icon:before { content: '\e729'}/*清除格式*/

.mui-button-orderedlist span.icon:before { content: '\f0cb'}/*无序列表*/
.mui-button-unorderedlist span.icon:before { content: '\f0ca'}/*有序列表*/
.mui-button-indent span.icon:before { content: '\e784'}/*首行缩进*/
.mui-button-alignleft span.icon:before { content: '\e77e'}/*左对齐*/
.mui-button-aligncenter span.icon:before { content: '\e77f'}/*中间对齐*/
.mui-button-alignright span.icon:before { content: '\e780'}/*右对齐*/
.mui-button-alignjustify span.icon:before { content: '\e781'}/*两端对齐*/

.mui-button-fontfamily span.icon:before { content: '\e779'}/*字体*/
.mui-button-fontsize span.icon:before { content:'\e094'}/*字体大小*/
.mui-button-fontcolor span.icon:before { content:'\270d'}/*字体前景色*/
.mui-button-bgcolor span.icon:before { content:'\e793'}/*字体背景色*/

.mui-button-emotion span.icon:before { content: '\e800'}/*无须列表*/
.mui-button-image span.icon:before { content: '🌄'}/*无须列表*/
.mui-button-attach span.icon:before { content: '📎'}/*无须列表*/

.mui-button-collapse span.icon:before { content: '\e746'}/*收起*/
.mui-button-expand span.icon:before { content: '\e744'}/*展开*/


.mui-button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d1d1d1));
    border-radius: 3px;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    vertical-align: bottom;
    width:22px;
    height: 22px;
    overflow: hidden;
    padding: 3px 4px;
}

.mui-button.mui-state-disable {
    background: rgba(238, 238, 238, 0.6) !important;
}
.mui-button.mui-state-disable span.icon{
    color: #1b1b1b;
}

.mui-button.mui-state-hover {
    background: rgba(204, 204, 204, 1);
}

.mui-button.mui-state-highlight {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#96b7ed), to(#265dc8));
}
