.mui-colorpicker .wheel-wrap {
  -webkit-user-select: none;
}

.mui-colorpicker .slwheel, .mui-colorpicker .hwheel {
    position: relative;
    border: 2px solid #b3b3b3;
    height: 255px;
    display: inline-block;
}

.mui-colorpicker .hwheel {
    margin-left: 35px;
}


.mui-colorpicker .hwheel .cursor {
    position: absolute;
    left: -10px;
    top: 0;
    margin-top: -4.5px;
    width: 40px;
    height: 9px;
    background: url(../images/cursor_color2.png) no-repeat;
    background-size: 40px 9px;
}

.mui-colorpicker .slwheel .cursor {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    left: 50%;
    top: 50%;
    background: url(../images/cursor_color.png) no-repeat;
    background-size: 12px 12px;
}

.mui-colorpicker .preview {
    padding: 0 1em 1em;
}

.mui-colorpicker .preview:after {
    content: '\0020';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.mui-colorpicker .preview .color {
    display: -webkit-box;
    height: 68px;
    width: 58px;
    border: 2px solid #b3b3b3;
    -webkit-box-orient: vertical;
    float: left;
}

.mui-colorpicker .preview .color span {
    -webkit-box-flex: 1;
    display: block;
    background: #ffffff;
    border: 1px solid #000;

}
.mui-colorpicker .preview .color span:last-child {
    border-top-width: 0;
}

.mui-colorpicker .preview .text {
    display: inline-block;
    float: left;
    margin-left: 1em;
    width: 200px;
}

.mui-colorpicker .preview .clearBtn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(50%,#484747), color-stop(51%,#3a3a3a), color-stop(100%,#303030));
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px #000000, 2px 2px 2px #999999;
    color: #ffffff;
    text-align: center;
    height: 2em;
    font-size: 12px;
    float: right;
    line-height: 2em;
    padding: 2px 10px;
    cursor: pointer;
    margin: 20px 0 0;
}

.mui-colorpicker .preview .text p {
    margin: 5px 0;
    padding: 0;
}
.mui-cp-common table {
    width: 100%;
}
.mui-cp-common table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.mui-cp-common table td a {
    display: block;
    width: 22px;
    height: 22px;
    border: solid #ccc;
    border-width: 0 1px 0 1px;
    cursor: pointer;
}

.mui-cp-common table .title th {
    color: #39C;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 0 2px;
}

.mui-cp-common table .the0throw td, .mui-cp-common table .the6throw td {
    padding: 10px 0;
}

.mui-cp-common table .the0throw td a, .mui-cp-common table .the6throw td a {
    border-width: 1px;
}

.mui-cp-common table .the1throw td a {
    border-width: 1px 1px 0 1px;
}

.mui-cp-common table .the5throw td a {
    border-width: 0 1px 1px 1px;
}

.mui-colorpicker .mui-tabs-panel {
    height: 285px;
    padding: 15px;
    overflow: hidden;
}