.mui-combox {
    display: none;
    position: absolute;
    height: 100px;
    width:150px;
    z-index: 9990;
}

.mui-combox-content {
    height: 100%;
    width: 100%;
    border: 5px solid #666;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.mui-combox ul {
    margin: 0;
    padding: 0;
}
.mui-combox ul li {
    list-style:none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    text-indent: 2em;
}
.mui-combox-selected {
    background-image: url(../images/scale.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.mui-combox-highlight {
    background-color: #efefef;
}

.mui-combox-arrow {
    position: absolute;
    overflow: hidden;
    right: 30px;
    bottom: -28px;
    width: 32px;
    height: 18px;
}

.mui-combox-arrow b {
    position: absolute;
    left:8px;
    top:-8px;
    height: 16px;
    width:16px;
    display: inline-block;
    background: #666;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(45deg);
}