.mui-combox {
    display: none;
    position: absolute;
    height: 200px;
    width:150px;
    z-index: 9990;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676f81), color-stop(18%,#1f293c), color-stop(19%,#0b162a), color-stop(100%,#0a162e), color-stop(100%,#0a162e), color-stop(100%,#0a162e));
    padding: 5px;
    border-radius: 5px;
    border:1px solid #424242;
    -webkit-box-shadow: 2px 2px 5px #171717, inset 0 2px 5px #636b7e;
}
.mui-combox-title {
    height: 30px;
    background: #ccc;
}
.mui-combox-content {
    height: 170px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) inset;
}

.mui-combox ul {
    margin: 0;
    padding: 0;
}
.mui-combox ul li {
    list-style:none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    text-indent: 2em;
}
.mui-combox-selected {
    background-image: url(../images/scale.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.mui-combox-highlight {
    background-color: #efefef;
}

.mui-combox-arrow {
    position: absolute;
    overflow: hidden;
    width: 23px;
    height: 12px;
    top: -12px;
    background: url(../images/popup_arrow.png) no-repeat center center;
    background-size: 23px 12px;
}
