.mui-combox {
    display: none;
    position: absolute;
    height: 100px;
    width:150px;
    z-index: 9990;
    border-width: 8px 8px 10px 8px;
    -webkit-border-image: url(../images/popup.png) 16 16 20 16 repeat stretch;
}

.mui-combox-content {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) inset;
}

.mui-combox ul {
    margin: 0;
    padding: 0;
}
.mui-combox ul li {
    list-style:none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    text-indent: 2em;
}
.mui-combox-selected {
    background-image: url(../images/scale.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.mui-combox-highlight {
    background-color: #efefef;
}

.mui-combox-arrow {
    position: absolute;
    overflow: hidden;
    width: 23px;
    height: 12px;
    top: -17px;
    background: url(../images/popup_arrow.png) no-repeat center center;
    background-size: 23px 12px;
}
