.mui-popup {
    display: none;
    position: absolute;
}


.mui-popup-content {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.mui-popup-arrow {
    position: absolute;
    right: -10px;
    top:0;
    width:10px;
    height: 25px;
    background: url(../images/cursor_v.png) center center no-repeat;
}