.mui-popup {
    display: none;
    position: absolute;
    z-index: 9990;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525b6f), color-stop(8%,#1f293b), color-stop(9%,#0e1a2c), color-stop(100%,#081429));
    padding: 5px;
    border-radius: 5px;
    border:1px solid #0a0a0a;
    -webkit-box-shadow: inset 0px 0px 1px #969ba6, 2px 2px 10px #151515;
}

.mui-popup-title {
    height: 30px;
    background: #ccc;
}

.mui-popup-content {
    min-height: 150px;
    min-width: 50px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) inset;
}

.mui-popup-arrow {
    position: absolute;
    overflow: hidden;
    width: 50px;
    height: 19px;
    top: -19px;
}
.mui-popup-arrow:after {
    position: absolute;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #a7aab2), color-stop(40%,#545d70),color-stop(100%,#545d70));
    border-left: 1px solid #0a0a0a;
    border-top: 1px solid #0a0a0a;
    -webkit-transform: rotate(45deg);
    content: ' ';
    display: block;
    width: 25px;
    height: 30px;
    left: 2px;
    top: 10px;
}
