.mui-popup {
    display: none;
    position: absolute;
}


.mui-popup-content {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.mui-popup-arrow {
    position: absolute;
    overflow: hidden;
    right: -16px;
    top:0;
    width:15px;
    height: 32px;
}

.mui-popup-arrow b {
    position: absolute;
    left:-8px;
    top:8px;
    height: 16px;
    width:16px;
    display: inline-block;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(45deg);
}