.smiley-tabs table {
    border-collapse: collapse;
    width: 100%;
}

.smiley-tabs .mui-tabs-content .mui-tabs-panel {
    padding: 2px;
}

.smiley-tabs table td {
    border: 1px solid #f0f0f0;
    vertical-align: middle;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
}
.smiley-tabs table tr:first-child td {
    border-top-width: 0;
}

.smiley-tabs table tr:last-child td {
    border-bottom-width: 0;
}

.smiley-tabs table td:first-child {
    border-left-width: 0;
}

.smiley-tabs table td:last-child {
    border-right-width: 0;
}

/*.smiley-tabs td.active::before {
    content: '\2713';
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    position: absolute;
    right: 3px;
    bottom: 0px;
    color: rgba(170, 170, 170, 1);
}*/
.smiley-tabs td.active::after {
    content: '\0020';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #b6caf2;
    left: -1px;
    top: -1px;
}

.smiley-tabs table td span {
    display: block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: auto;
}

.smiley-tabs .smiley-bubble td span {
    width: 26px;
    height: 26px;
    background-image: url(../images/smiley/fface.gif);
}

.smiley-tabs .smiley-lvdouwa td span {
    background-image: url(../images/smiley/bface.gif);
}

.smiley-tabs .smiley-bobo td span {
    background-image: url(../images/smiley/wface.gif);
}

.mui-smiley-popup {
    width: 500px;
}

.mui-smiley-popup .mui-tabs {
    border: 0 none;
}

.smiley-btns {
    text-align: right;
    padding: 0 15px 10px;
}
