.mui-tabs {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: 1px solid #c9c9c9;
    background: white;
}
.mui-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 11;
    position: relative;
    border-top: 1px solid #c9c9c9;
    -webkit-user-select: none;
}
.mui-tabs-content {
    position: relative;
    min-height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    /*-webkit-transition: height 200ms ease-in-out;*/
}
.mui-tabs-content .mui-tabs-panel {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    min-height: 100px;
}
.mui-tabs-panel {
    -webkit-transform: translateZ(0);
}
.mui-tabs-content .mui-tabs-panel.mui-state-active, .mui-viewport-transitioning .mui-tabs-panel.out {
    display: block;
    z-index: 1;
}
.mui-tabs-content .mui-tabs-panel.mui-state-active {
    z-index: 2;
}

.mui-tabs-nav {
    padding: 0 0 0 0.5em;
    background: #f6f6f6;
}

.mui-tabs-nav li {
    text-align: center;
    display: inline-block;
    color: #4a4a4a;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    white-space:nowrap;/*内容不换行*/
    cursor: pointer;
    padding: 0 10px;
}
.mui-tabs-nav li a {
    text-decoration: none;
    color: #4a4a4a;
}
.mui-tabs-nav li:last-child {
    border-width: 1px;
}
.mui-tabs-nav li.mui-state-active{
    position: relative;
    top: -1px;
    background: #fff;
    border: solid #c9c9c9;
    border-width: 0 1px;
}
.mui-tabs-content .mui-tabs-panel {
    padding: 1em;
}

.mui-tabs-notitle .mui-tabs-nav {
    background: transparent;
    text-align: center;
    border: 0 none;
    height: 20px;
}

.mui-tabs-notitle .mui-tabs-nav li {
    display: inline-block;
    width: 6px;
    height: 6px;
    overflow: hidden;
    text-indent: -1000px;
    border-radius: 3px;
    padding: 0;
    background: rgba(220, 220, 220, 1);
    margin: 0 3px;
}

.mui-tabs-notitle .mui-tabs-nav li.mui-state-active {
    position: static;
    border: 0 none;
    background: rgba(170, 170, 170, 1);
}

/*Transition*/
.mui-viewport-transitioning .mui-panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mui-viewport-transitioning .mui-loading {
    -webkit-animation-name: none;
}
.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
}
.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
}

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
.slide.out, .slide.in {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 350ms;
}
.slide.out {
    -webkit-animation-name: slideouttoleft;
    -webkit-transform: translateX(-100%);
}

.slide.in {
    -webkit-animation-name: slideinfromright;
    -webkit-transform: translateX(0);
}

.slide.out.reverse {
    -webkit-animation-name: slideouttoright;
    -webkit-transform: translateX(100%);
}

.slide.in.reverse {
    -webkit-animation-name: slideinfromleft;
    -webkit-transform: translateX(0);
}