/* toolbar */
.mui-toolbar {
    width: 50px;
    height: auto;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    right:0;
    top: 10px;
}
.mui-toolbar.mui-toolbar-shadow{
    -webkit-box-shadow: 3px 3px 5px #737373;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
}

.mui-toolbar .mui-toolbar-toolBox {
    width: 40px;
    height: auto;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9bdc5), color-stop(18%,#283144), color-stop(19%,#131e32), color-stop(100%,#283144), color-stop(100%,#207cca), color-stop(100%,#1e2a42));
    z-index: 1000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align:center;
}
.mui-toolbar .mui-button{
    display: block;
    margin: 0.2em 0 0 0;

}
.mui-toolbar .mui-toolbar-toolBox.mui-toolbar-anim {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function:linear;
    -webkit-transform: translateX(0);
}
.mui-toolbar .mui-toolbar-arrowWrap{
    position: relative;
}
.mui-toolbar .mui-toolbar-showArrow{
    position: absolute;
    right: 0;
    top: 10px;
    border: 1px solid red;
    background: #ccc;
    display: block;
    width: 5px;
    height: 50px;
}

/*group*/
.justify-mui-popup{
    width: 50px;
}
.mui-popup .mui-group-wrap{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 5px;
    -webkit-box-align: center;
}
.mui-popup .mui-group-wrap .mui-button{
    display: block;
}

/*scrollbox*/
.mui-scrollbox{
    border: 1px solid #8e8f93;
    -webkit-box-shadow: inset -1px -2px 1px  #aeaeae;
    background: #e9e9e9;
    display: -webkit-box;
    -webkit-box-align: center;
    margin-top: 0.2em;
}
.mui-scrollbox .mui-scrollBox-scroller{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}
.mui-scrollbox .mui-button{
    border-radius: 0;
    background: none;
    margin: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #bebebe;
}
/*.mui-default .mui-scrollbox .mui-button:after{
    content: '\0020';
    height: 1px;
    width: 100%;
    background: #bebebe;
    display: block;
    margin:0;
    padding-top:3px;



}*/

